/* posts */

.banner {
  min-height: 264px;
  margin-top: -80px;
  position: relative;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.archive {
  & h1 {
    color: #dc3430;
    font-family: EurostileLTStd-Demi, sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-top: 20px;
  }
}

.gallery {
  &__inner {
    margin-bottom: 30px;
  }

  &__image {
    max-height: 500px;
    overflow: hidden;

    & img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  & p {
    margin-top: 15px;
  }
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__item {
    margin: 15px 0;
    flex: 0 0 24%;

    &:not(:nth-child(4n)) {
      margin-right: calc(4% / 3);
    }

    @media(max-width: 960px) {
      flex: 0 0 100%;
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__inner {
    flex: 1;
    padding-left: 15px;
  }

  &__image {
    flex: 1;

    & img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    color: #dc3430;
    font-family: EurostileLTStd-Demi, sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-top: 0;
  }

  &__text {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;

    & p {
      margin-top: 15px;
    }
  }
}

.pagination {
  margin: 15px 0;

  & h2 {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  & .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

    & span, a {
      margin: 0 5px;
      color: #000000;
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
    }

    & a:hover {
      color: #db302c;
    }
  }
}

.posts {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media(max-width: 960px) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 2;
    @media(max-width: 960px) {
      width: 100%;
    }
  }

  &__item {
    width: 49%;

    &:not(:nth-child(even)) {
      margin-right: 2%;
      @media(max-width: 960px) {
        margin-right: 0;
      }
    }

    @media(max-width: 960px) {
      width: 100%;
    }

    margin-bottom: 15px;
  }

  &__sidebar {
    flex: 1;
    margin-left: 15px;
    @media(max-width: 960px) {
      width: 100%;
      margin-left: 0;
    }
  }
}